* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-family: "Roboto", sans-serif;
  scrollbar-color: light;
  -webkit-scrollbar-color: light;
}

html {
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: inherit;
}

i {
  font-style: normal;
}

a {
  text-decoration: none !important;
  color: inherit;
}

button:focus {
  outline: none;
}

ol,
ul,
li {
  list-style: none;
}
